:root {
  --light-color: #a5b3ce;
  --main-color: #19202e;
  --red-color: #fe655c;
  --light-red: #fe655cd9;
  --secondary-color: #1e2738;
  --dark-blue-color: #465981;
  --light-blue-color: #629feb;
  --white-color: #d7dde9;
  --text-color: #a5b3ce;
}
body {
  background-color: var(--main-color);
  font-family: "Roboto", serif;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:focus {
  outline: none;
}

a {
  text-decoration: none;
}
.special-button {
  background-color: var(--dark-blue-color);
  width: fit-content;
}
.heading-h2 {
  font-weight: bold;
  font-size: 2rem;
  /* margin-top: 3rem; */
  color: var(--white-color);
  text-align: center;
}
.heading-p {
  text-align: center;
  color: var(--text-color);
  font-size: 1.25rem;
}

/* start navbar */
nav {
  background-color: var(--main-color);
  z-index: 50;
}
.mode {
  width: 60px;
  height: 30px;
  /* background: gray; */
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border: 2px solid;
  border-color: var(--light-color);
  cursor: pointer;
}
.bar-options {
  color: var(--white-color);
  cursor: pointer;
}
.bar-options .options {
  font-size: 1.5rem;
}
.navbar-nav .nav-item i {
  cursor: pointer;
}
.navbar-nav .nav-item a {
  color: var(--white-color);
  font-size: 1.2rem;
  background-color: rgb(0 0 0 / 10%);
  width: 40px;
  height: 40px;
}
.hire-me {
  background-color: var(--light-red);
  border: none;
}
.hire-me:hover {
  background-color: var(--red-color);
}
/* end navbar */
/* start side-nav */
.side-nav {
  left: 60px;
  border-radius: 8px;
  background-color: rgb(0 0 0 / 10%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 200px;
  z-index: 1000;
}
@media (max-width: 576px) {
  .side-nav {
    background-color: rgb(0 0 0 / 70%);
  }
}
.side-nav a {
  color: var(--text-color);
}
.side-nav a.active,
.side-nav a:hover {
  color: var(--red-color);
}
.side-nav a span {
  color: var(--text-color);
  font-size: 14px;
}
.close-button {
  color: var(--light-red);
  cursor: pointer;
}
.close-button:hover {
  color: var(--red-color);
}
/* end side-nav  */
/* start projects cards */
.projects .card {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.projects .card .card-text {
  color: var(--text-color);
  text-transform: capitalize;
}
.projects .card .card-body {
  height: 166px;
}
.projects .card .image {
  width: 50px;
}
.projects .card .image img {
  width: 634px;
}
/* end projects cards */
